@using Blazorise;
@using dormitoryApps.Shared.Model.Entity;
@using dormitoryApps.Client.Services;
@using System.Timers;
@inject CurrentCustomerService _currentCustomerService;
@inject RoomServices _roomServices;
@inject OfficerServices _officerServices;
@inject SessionServices _sessionServices;
@inject BuildingServices _buildingServices;
@inject InvoiceServices _invoiceServices;
@code {
    Modal e;
    CurrentCustomer item = new CurrentCustomer
        {
            Members = new List<RentalMember>()
        };
    Officer currentOfficer = new Officer();
    Room room = new Room();
    Buildings buildings = new Buildings();
    Invoice bookingInvoice = new Invoice() { Services = new List<InvoiceService>() };
    Officer bookingOfficer = new Officer();
    decimal firstRental;
    string rentalmode;
    bool isloading = true;
    bool isMonthly = true;
    public async void Open(string rentalId)
    {
        await e.Show();
        item = await _currentCustomerService.Get(rentalId);
        room = await _roomServices.GetRoom(item.RoomId);
        buildings = await _buildingServices.Get(room.Building);
        bookingOfficer = await _officerServices.GetById(item.EmployeeId);
        currentOfficer = await _sessionServices.GetCurrentLogin();
        isloading = false;
        if (item.RentalType.Equals("Monthly")) {
            rentalmode = "เช่าแบบรายเดือน";
            isMonthly = true;
        }
        else if (item.RentalType.Equals("Daily"))
        {
            rentalmode = "เช่าแบบรายวัน";
            isMonthly = false;
        }
        else
        {
            rentalmode = "ไม่ระบุวิธีการเช่า";
            isMonthly = false;
        }
        firstRental = item.Rental;
        await InvokeAsync( StateHasChanged);

    }

}

<Modal @ref="e" Style="color:black">
    <ModalContent Size="ModalSize.Large">
        <ModalHeader>
            <CloseButton></CloseButton>
        </ModalHeader>
        <ModalBody>
            <center>
                <h1>ทำสัญญาเข้าพัก</h1>
            </center>
            <br />
            <br />
            <Div Class="row">
                <Div Class="col">
                    <div class="form-group">
                        <label for="text">รหัสการเช่า</label>
                        <input id="text" @bind-value="item.Id" type="text" class="form-control" readonly>
                    </div>
                </Div>
                <Div Class="col">
                    <div class="form-group">
                        <label for="text">ห้อง</label>
                        <input id="text" @bind-value="room.RoomName" type="text" class="form-control" readonly>
                    </div>
                </Div>
            </Div>
            <Div Class="row">
                <Div Class="col">
                    <div class="form-group">
                        <label for="text">อาคาร</label>
                        <input id="text" @bind-value="buildings.Name" type="text" class="form-control" readonly>
                    </div>
                </Div>  
                <Div Class="col">
                     <div class="form-group">
                        <label for="text">รูปแบบการเช่า</label>
                        <input id="text" @bind-value="rentalmode" type="text" class="form-control" readonly>
                    </div>
                </Div>
            </Div>
            <Div Class="row">
                <Div Class="col">
                <div class="form-group">
                     <div class="form-group">
                        <label for="text">เข้าอยู่เมื่อ</label>
                        <input id="text" @bind-value="item.Stayed" type="text" class="form-control" readonly>
                    </div>
                    </Div>
                    </Div>
                    <Div Class="col">
                       <div class="form-group">
    <label for="text1">ค่าทำสัญญา</label> 
    <div class="input-group">
      <input id="text1" @bind-value="item.BookingFee" type="text" class="form-control" readonly> 
      <div class="input-group-append">
        <div class="input-group-text">บาท</div>
      </div>
    </div>
  </div> 
                    </Div>
                        </Div>
                        @if(isMonthly)
                        {
                            <Div Class="row">
                                <Div Class="col">
                                    <div class="form-group">
    <label for="text1">ค่าเช่าเดือนแรก</label> 
    <div class="input-group">
      <input id="text1" @bind-value="firstRental" type="number" class="form-control"> 
      <div class="input-group-append">
        <div class="input-group-text">บาท</div>
      </div>
    </div>
  </div> 
                                </Div>
                                <Div Class="col">
                                   
   <div class="form-group">
    <label for="text">ผู้รัยจอง</label> 
    <input id="text" value="@($"{bookingOfficer.Firstname} {bookingOfficer.Surname}")" type="text" class="form-control" readonly>
  </div>
                            </Div>
                </Div>
            }
            else
            {
                <Div Class="row">
                    <Div Class="col">
                        <div class="form-group">
    <label for="text1">ค่าเข้าพัก</label> 
    <div class="input-group">
      <input id="text1" @bind-value="firstRental" type="text" class="form-control"> 
      <div class="input-group-append">
        <div class="input-group-text">บาท</div>
      </div>
    </div>
  </div> 
                    </Div>
                    <Div Class="col">
                        <div class="form-group">
    <label for="text">เข้าพักถึง</label> 
    <input id="text" @bind-value="item.StayUntil" type="text" class="form-control" readonly>
  </div>
                    </Div>
                </Div>
                <Div Class="row">
                    <Div Class="col">
                        <div class="form-group">
    <label for="text">จำนวนวันเข้าพัก</label> 
    <input id="text" value="@(item.StayUntil.HasValue ? item.StayUntil.Value.Subtract(item.Stayed).Days : null)" type="text" class="form-control" readonly>
  </div>
                        </Div>
                        <Div Class="col">
                            <div class="form-group">
    <label for="text">ผู้รัยจอง</label> 
    <input id="text" value="@($"{bookingOfficer.Firstname} {bookingOfficer.Surname}")" type="text" class="form-control" readonly>
  </div>
                        </Div>
                        </Div>
            }
             <h2>รายชื่อ</h2>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>ชื่อ-สกุล</th>
                        <th>สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itm in item.Members)
                    {
                        <tr>
                            <td>@($"{itm.Member.Firstname}  {itm.Member.Surname}")</td>
                            <td>@(itm.IsMain? "ผู้เช่าหลัก": "ผู้เช่าร่วม")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </ModalBody>
        <ModalFooter>
            <Button Class="btn btn-outline-primary" Disabled="isloading">Save Changes</Button>
            <Button Class="btn btn-outline-danger" @onclick="()=>e.Hide()">Discard</Button>

        </ModalFooter>
    </ModalContent>
</Modal>
<style>
table{
    text-align:center;
}
</style>