
@code {
    public string NewPassword { get; set; } = string.Empty;
    public string RetypePassword { get; set; } = string.Empty;
    public string OldPassword { get; set; } = string.Empty;

    public bool PasswordValidate { get; set; } = false;
    public bool OldPasswordValidate { get; set; } = false;

    string[] Id = { Guid.NewGuid().ToString(), Guid.NewGuid().ToString(), Guid.NewGuid().ToString() };
    public void Reset()
    {
        PasswordValidate = false;
        OldPasswordValidate = false;

        NewPassword = string.Empty;
        RetypePassword = string.Empty;
        OldPassword = string.Empty;
    }
    public void ValidateResponse()
    {
        PasswordValidate = PasswordValidate;
        OldPasswordValidate = OldPasswordValidate;
        StateHasChanged();
    }
    private string ValidateCheck(bool item)
    {
        return item ? "is-invalid":"";
    }
}
 <div class="form-group">
        <label for="@Id[0]">รหัสผ่านเดิม</label>
        <input id="@Id[0]" @bind-value="OldPassword" type="password" class="form-control @ValidateCheck(OldPasswordValidate)">
    </div>
    <div class="form-group">
        <label for="@Id[1]">รหัสผ่านใหม่(ห้ามใช้ |)</label>
        <input id="@Id[1]" @bind-value="NewPassword" type="password" class="form-control @ValidateCheck(PasswordValidate)">
    </div>
    <div class="form-group">
        <label for="@Id[2]">ยืนยันรหัสผ่านใหม่</label>
        <input id="@Id[2]" @bind-value="RetypePassword" type="password" class="form-control @ValidateCheck(PasswordValidate)">
    </div>
