@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization;
@using dormitoryApps.Shared.Model.Export;
@model InvoiceExport;
@{
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<center>
    <h1>ใบเสร็จรับเงิน</h1>
</center>
<div class="row">
    <div class="col">
        <h4>เลขที่ <b>@Model.InvoiceId</b></h4>
        <br />
        <h4>สถานะ <b>@(Model.Invoice.Ispaid ? "จ่ายแล้ว":"ยังไม่จ่าย")</b></h4>
        <br />
        <h4>พนักงานออกบิล <b>@($"{Model.InvoiceOfficer.Firstname} {Model.InvoiceOfficer.Surname}")</b></h4>
    </div>
    <div class="col"></div>
    <div class="col">
        <h4>วันที่ออก <b>@( Model.Invoice.InvoiceDate.ToString("dd MMMM yyyy HH:mm:ss",CultureInfo.GetCultureInfo("th-TH")))</b></h4>
        <br />
        <h4>วันที่จ่าย <b>@(Model.Invoice.Ispaid ? Model.Invoice.PaidDate.Value.ToString("dd MMMM yyyy HH:mm:ss",CultureInfo.GetCultureInfo("th-TH")):"")</b></h4>
        <br />
        @if (Model.Invoice.Ispaid)
        {
           
        <h4>@("พนักงานรับเงิน") <b>@($"{Model.PaidOfficer.Firstname} {Model.PaidOfficer.Surname}")</b></h4>
        }
    </div>
</div>
