@page "/water";
@using System;
@using System.Timers;
@using System.Threading ;
@using dormitoryApps.Client.Services;
@using dormitoryApps.Shared.Model.Entity;
@inject WaterService _waterService;
@inject SessionServices _sessionServices;
@implements IDisposable
@code {
    System.Timers.Timer timer = new System.Timers.Timer();
    List<Water> water;
    protected override async void OnInitialized()
    {
        await _sessionServices.RequiredPermission();
        Get();
        timer = new System.Timers.Timer(1000);
        timer.Elapsed += OnTick;
        timer.Enabled = true;
    }
    void OnTick(object sender, ElapsedEventArgs e)
    {
        Get();
        StateHasChanged();
    }
    async void Get()
    {
        await _waterService.GetWater().ContinueWith(w =>
       {
           water = w.Result != null ? w.Result : new List<Water>();
       });
    }
    void IDisposable.Dispose()
    {
        timer?.Dispose();
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<center>
    <h1>ข้อมูลการใช้น้าประปา</h1>
</center>
<br />
<br />
<br />
<button class="btn btn-primary" @onclick="()=>create.Open()"> <i class="plus icon"></i> เพิ่มข้อมูลการใช้น้ำประปา</button>
<br />
<br />
<table class="table table-bordered" style="text-align:center">
    <thead class="table-dark">
        <tr>
            <th>รหัสการเช่า</th>
            <th>งวด</th>
            <th>หน่วยครั้งก่อน</th>
            <th>หน่วยตอนจด</th>
            <th>ใช้ไป</th>
            <th>หน่วยละ</th>
            <th>ราคารวม</th>
            <th>รายการชำระเงินที่เกี่ยวข้อง</th>
            <th>จ่ายเงินแล้ว</th>
            <th>วันที่บันทึก</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-success">
        @if (water == null)
        {
            <tr>
                <td colspan="11">Loading...</td>
            </tr>
        }
        else if (water.Count == 0)
        {
            <tr>
                <td colspan="11">ไม่พบรายการ</td>
            </tr>
        }
        else
        {
            @foreach (var w in water)
            {
                <tr>
                    <td>@w.RentalId</td>
                    <td>@($"{w.month}/{w.Year}")</td>
                    <td>@w.BeforeUnit</td>
                    <td>@w.CurrentUnit</td>
                    <td>@(w.CurrentUnit-w.BeforeUnit)</td>
                    <td>@w.Price</td>
                    <td>@w.Total</td>
                    <td>@w.InvoiceId</td>
                    <td>@if (w.Paid) { <i class="check icon"></i>}</td>
                    <td>@w.Notedate.ToString("dd MMMM yyyy HH:mm:ss")</td>
                    <th>
                        <button class="btn btn-danger" disabled="@w.Paid"><i class="trash alternate outline icon"></i></button>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>

<dormitoryApps.Client.Pages.Water.Modal.Create @ref="create" />
@code{
    dormitoryApps.Client.Pages.Water.Modal.Create create;
}