@using Blazorise;
@inject NavigationManager navigationManager;

@code {
    private Modal e;
    public string ProcessingWord { get; set; } = "Processing";
    //Success
    public string SuccessHeader { get; set; } = "Good Job";
    public string SuccessDetail { get; set; } = "Processing Success";
    //Error
    public string ErrorHeader { get; set; } = "!Oops!";
    public string ErrorDetail { get; set; } = "Something Went Wrong";
    //Warning
    public string WarningHeader { get; set; } = "Warning";
    public string WarningDetail { get; set; } = "Are You Sure";

    //Img
    private const string ErrorImg = "/Img/Close-2-icon.png";
    private const string SuccessImg = "/Img/Checked.png";
    private const string WarnImg = "/Img/warning.png";

    public bool NextRequired { get; set; } = false;
    public bool ForceLoad { get; set; } = false;
    public string NextLink { get; set; } = "/";
    public Action WarningSubmitted { get; set; }

    bool IsProcessing;
    bool IsSuccess;
    bool IsWarning;

    public async void Open()
    {
        IsProcessing = true;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    public async void Open(string ProcessDetail)
    {
        IsProcessing = true;
        ProcessingWord = ProcessDetail;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    //Open Success
    public async void OpenSuccess()
    {
        IsProcessing = false;
        IsSuccess = true;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    public async void OpenSuccess(string Detail)
    {
        IsProcessing = false;
        IsSuccess = true;
        SuccessDetail = Detail;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    public async void OpenSuccess(string Detail, string Header)
    {
        IsProcessing = false;
        IsSuccess = true;
        SuccessDetail = Detail;
        SuccessHeader = Header;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    //Open Failed
    public async void OpenFailed()
    {
        IsProcessing = false;
        IsSuccess = false;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    public async void OpenFailed(string Detail)
    {
        IsProcessing = false;
        IsSuccess = false;
        SuccessDetail = Detail;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    public async void OpenFailed(string Detail, string Header)
    {
        IsProcessing = false;
        IsSuccess = false;
        ErrorDetail = Detail;
        ErrorHeader = Header;
        IsWarning = false;
        await e.Show();
        StateHasChanged();
    }
    //SET
    public void Processing()
    {
        IsProcessing = true;
        IsWarning = false;
        StateHasChanged();
    }
    public void Processing(string ProcessDetail)
    {
        IsProcessing = true;
        ProcessingWord = ProcessDetail;
        IsWarning = false;
        StateHasChanged();
    }

    public void Success()
    {
        IsProcessing = false;
        IsSuccess = true;
        IsWarning = false;
        StateHasChanged();
    }
    public void Success(string Detail)
    {
        IsProcessing = false;
        IsSuccess = true;
        SuccessDetail = Detail;
        IsWarning = false;
        StateHasChanged();
    }
    public void Success(string Detail, string Header)
    {
        IsProcessing = false;
        IsSuccess = true;
        SuccessDetail = Detail;
        SuccessHeader = Header;
        IsWarning = false;
        StateHasChanged();
    }
    public void Failed()
    {
        IsProcessing = false;
        IsSuccess = false;
        IsWarning = false;
        StateHasChanged();
    }
    public void Failed(string Detail)
    {
        IsProcessing = false;
        IsSuccess = false;
        SuccessDetail = Detail;
        IsWarning = false;
        StateHasChanged();
    }
    public void Failed(string Detail, string Header)
    {
        IsProcessing = false;
        IsSuccess = false;
        ErrorDetail = Detail;
        ErrorHeader = Header;
        IsWarning = false;
        StateHasChanged();
    }
    //Warning
    public async void OpenWarning()
    {
        IsProcessing = false;
        IsWarning = true;
        await e.Show();
        StateHasChanged();
    }
    public async void OpenWarning(string Detail)
    {
        IsProcessing = false;
        IsWarning = true;
        WarningDetail = Detail;
        await e.Show();
        StateHasChanged();
    }
    public async void OpenWarning(string Detail, string Header)
    {
        IsProcessing = false;
        IsWarning = true;
        WarningDetail = Detail;
        WarningHeader = Header;
        await e.Show();
        StateHasChanged();
    }
    public void AfterSubmitAction(Action action)
    {
        WarningSubmitted = action;
    }

    public async void Close()
    {
        await e.Hide();
        if (NextRequired)
        {
            navigationManager.NavigateTo(NextLink, forceLoad: ForceLoad);
        }
        StateHasChanged();

    }
    private void Submit()
    {
        IsWarning = false;
        WarningSubmitted();
    }



}
<Modal @ref="e" Style="color:black">
    <ModalContent>
        <ModalBody>
            @if (IsProcessing)
            {
                <center>
                    <Div Class="loader">
                    </Div>
                    <br />
                    <h2>@ProcessingWord</h2>
                </center>
            }
            else
            {
                @if(IsWarning)
                {
                     <center>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <img src="@WarnImg" style="width:200px;height:200px;" />
                        <h1>@WarningHeader</h1>
                        <h2>@WarningDetail</h2>
                    </center>
                }
                else
                {
                @if (IsSuccess)
                {
                    <center>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <img src="@SuccessImg" style="width:200px;height:200px;" />
                        <h1>@SuccessHeader</h1>
                        <h2>@SuccessDetail</h2>
                    </center>
                }
                else
                {
                    <center>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <img src="/Img/Close-2-icon.png" style="width:200px;height:200px;" />
                        <h1>@ErrorHeader</h1>
                        <h2>@ErrorDetail</h2>
                    </center>
                }
                }
            }
        </ModalBody>
        <ModalFooter>
            @if (!IsProcessing)
            {
                @if(IsWarning)
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="() => Submit()">Yes</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">@(IsWarning ? "No" :"Close")</button>
            }
        </ModalFooter>
    </ModalContent>
</Modal>